img{
    text-align: center;
    width: 350px;
    height: 350px;
    padding: 5px; ;
}
h1{
    background-color: rgb(47, 27, 228);
    text-align: center;
    color: #1be65f;
}
button{
    background-color: crimson;
}